/*
    CSS rédigé par Aleph pour la page index.html
*/

html
{
    font-size: 16px;
}

body
{
    margin: 0 0 0 1rem;
}

.sidebar
{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: lightgray;
    width: 16rem;
    height: 100vh;
}

.main
{
    margin-left: 17rem;
    height: 100vh;
}

img
{
    scale: 90%;
}

ul
{
    list-style-type: none;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

li
{
    background-color: white;
    margin: 0.9rem;
}
